/* Code comment style */
.mtk3 {
	font-family: 'Iosevka' !important;
	color: #008c7d !important;
}

.monaco-workbench
	.part.editor
	> .content
	.editor-group-container.active
	> .title
	.tabs-container
	> .tab.active {
	background-color: #2b2d45;
	border-radius: 16px;
	overflow: hidden;
	&:hover {
		background-color: #343258;
	}
}

/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75) !important;
	top: -6px !important;
}

/* Side bar */
.part.sidebar {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

/* Sidebar top shadow */
.monaco-scrollable-element > .shadow.top {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75) !important;
	top: -3px !important;
}

/* Scroll Bar */
.slider {
	position: absolute !important;
	right: 1px !important;
	width: 1px !important;
	background: #bc9abc !important;
	left: auto !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.45) !important;
	padding: 10px !important;
	background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important;
	backdrop-filter: blur(3px) !important;
	border-radius: 20px !important;
	border: none !important;
}

/* Command Palette */
/* .quick-input-widget {
	transform: translateY(-50%) !important;
	top: 50% !important;
	padding: 10px 10px 18px 10px !important;
	backdrop-filter: blur(3px) !important;
	border-radius: 20px !important;
} */

.quick-input-widget {
	transform: translateY(-50%) !important;
	top: 50% !important;
	z-index: 100;
	border: solid 2px #ffffff2d !important;
	border-radius: 12px !important;
	box-shadow: none !important;
	font-size: 24px !important;
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
}

.quick-input-widget .monaco-list-rows {
	font-size: 13px !important;
}

/* Remove background for lists */
.quick-input-widget .monaco-list-rows {
	background: transparent !important;
}

/* List hover */
.quick-input-widget .monaco-list-row:hover {
	background: rgba(0, 0, 0, 0.2) !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
	border-radius: 12px !important;
	padding: 12px !important;
	border: none !important;
	background-color: rgba(34, 34, 34, 0.4) !important;
	font-size: 20px !important;
	margin-bottom: 16px !important;
}

#command-blur {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	background: #0000003b !important;
	top: 0 !important;
	left: 0 !important;
	backdrop-filter: blur(10px) !important;
	z-index: 99 !important;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
	color: rgba(255, 255, 255, 0.3) !important;
}

.monaco-grid-view:has(~ .quick-input-widget:not([style*='display: none;'])) {
	filter: blur(5px);
}

/* Container that holds the VS Code home icon. */
.editor-group-watermark {
	max-width: none !important;
}

.letterpress {
	background-image: url("data:image/svg+xml,%3Csvg width='1080' height='1080' viewBox='0 0 1080 1080' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1080' height='1080' fill='%231D2129'/%3E%3Cpath d='M286.2 811.4C262.4 811.4 240 807.667 219 800.2C198 792.267 179.333 780.367 163 764.5C147.133 748.167 134.533 727.633 125.2 702.9C115.867 678.167 111.2 649 111.2 615.4C111.2 573.867 117.267 534.433 129.4 497.1C141.533 459.3 158.567 426.4 180.5 398.4C202.9 369.933 229.5 347.533 260.3 331.2C291.1 314.4 325.167 306 362.5 306C386.3 306 408.7 309.967 429.7 317.9C450.7 325.833 469.133 337.967 485 354.3C500.867 370.167 513.467 390.467 522.8 415.2C532.133 439.467 536.8 468.4 536.8 502C536.8 543.533 530.733 583.2 518.6 621C506.467 658.333 489.433 691.233 467.5 719.7C445.567 747.7 419.2 770.1 388.4 786.9C357.6 803.233 323.533 811.4 286.2 811.4ZM292.5 732.3C327.967 732.3 357.367 720.633 380.7 697.3C404.033 673.5 419.9 640.133 428.3 597.2L443 524.4C444.867 516.467 446.033 509.233 446.5 502.7C446.967 495.7 447.2 489.4 447.2 483.8C447.2 452.067 439.267 427.8 423.4 411C408 393.733 385.367 385.1 355.5 385.1C320.033 385.1 290.633 397 267.3 420.8C243.967 444.133 228.1 477.267 219.7 520.2L205 593C203.133 600.933 201.967 608.4 201.5 615.4C201.033 621.933 200.8 628 200.8 633.6C200.8 665.333 208.5 689.833 223.9 707.1C239.767 723.9 262.633 732.3 292.5 732.3ZM773.684 584.6L690.384 667.2L663.084 803H574.884L672.884 314.4H761.084L713.484 553.1H718.384L796.784 464.2L940.984 314.4H1049.48L842.284 525.1L963.384 803H866.084L773.684 584.6Z' fill='%23111216'/%3E%3C/svg%3E%0A") !important;
	background-repeat: no-repeat no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
	width: 30% !important;
}
